<p>animate works!</p>

<div class="container-fluid">
	<div class="row">
		<div class="1col-sm-3 1col-4">
			<div id="scrollSpyDiv">
				<div (click)="triggerScrollTo('Sobre_spied')">Sobre
					<ng-container *ngIf="currentSection==='Sobre_spied'">O</ng-container>
				</div>
				<div (click)="triggerScrollTo('terapias_spied')">terapias
					<ng-container *ngIf="currentSection==='terapias_spied'">O</ng-container>
				</div>
				<div (click)="triggerScrollTo('terapeuta_spied')">terapeuta
					<ng-container *ngIf="currentSection==='terapeuta_spied'">O</ng-container>
				</div>
				<div (click)="triggerScrollTo('localizacao_spied')">localizacao
					<ng-container *ngIf="currentSection==='localizacao_spied'">O</ng-container>
				</div>
				<br/>
			</div>
		</div>




		<div class="col-sm-12 col-12"  id="parentDiv" appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" >

			<!--
			<div id="parentDiv" appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
				<div id="section1" class="bg-success">
					<h1>Section 1</h1>
					<p>Try to scroll this section and look at the navigation list while scrolling!</p>
				</div>
				<div id="section2" class="bg-warning">
					<h1>Section 2</h1>
					<p>Try to scroll this section and look at the navigation list while scrolling!</p>
				</div>
				<div id="section3" class="bg-secondary">
					<h1>Section 3</h1>
					<p>Try to scroll this section and look at the navigation list while scrolling!</p>
				</div>
				<div id="section4" class="bg-danger">
					<h1>Section 4-1</h1>
					<p>Try to scroll this section and look at the navigation list while scrolling!</p>
				</div>
			</div>
			-->


				<div id="Sobre_spied" #Sobre_spied></div>

				<carousel [noPause]="false" class="text-dark" >
					<slide>
						<a (click)="triggerScrollTo('terapeuta_spied')" style="cursor: pointer ;">
							<img src="assets/images/carrosel/massagem1.jpg" alt="first slide" style="display: block; width: 100%;">
							<div class="carousel-caption d-none d-md-block text-dark">
								<h1> O espaço e o Terapeuta	</h1>
								<h2>Mais saúde, bem-estar e qualidade de vida com Massoterapia Integral em espaço exclusivamente feminino</h2>
							</div>
						</a>
					</slide>
					<slide>
						<a (click)="triggerScrollTo('terapias_spied')" style="cursor: pointer ;">
						<img src="assets/images/carrosel/massagem2.jpg" alt="second slide" style="display: block; width: 100%;">
							<div class="carousel-caption d-none d-md-block text-dark">
								<h1>Terapias</h1>
								<h2>Massagem relaxante, modeladora, drenagem linfática, Shiatsu, reflexologia, aromaterapia e mais...</h2>
							</div>
						</a>
					</slide>
					<slide>
						<img src="assets/images/carrosel/massagem3.jpg" alt="third slide" style="display: block; width: 100%;">
						<div class="carousel-caption d-none d-md-block text-dark">
							<h1>Beneficios</h1>
							<h2>Benefícios da massagem: relaxamento, apoio à prática esportiva, tratamento da dor, estética, edema, cuidados pré e pós-cirúrgicos, consciência corporal,  e mais...</h2>
						</div>
					</slide>
					<slide>
						<img src="assets/images/carrosel/massagem4.jpg" alt="third slide" style="display: block; width: 100%;">
						<div class="carousel-caption d-none d-md-block text-dark">
						<h1>massoterapia</h1>
						<h2>Aqui a massoterapia é personalizada e individualizada, de acordo com as necessidade de cada cliente</h2>
						</div>
					</slide>
				</carousel>





				<div class="jumbotron" style="background-image: url(assets/images/background/massage-therapy-performance.jpg); background-size: 100%;">

					<div class="col">
						<div class="circle mt-2 mr-2" data-aos="fade-up" ></div>
						<h2 class="text" data-aos="flip-left" data-aos-delay="300"><h1> home  / nome da terapia </h1></h2>
					</div>




					<h6>
						<p>São diversos os benefícios da massoterapia: Relaxamento muscular, alívio de dores, melhora da circulação sanguínea e linfática, melhora da nutrição dos tecidos, remodelação corporal, melhora do movimento articular, tonifica a musculatura para a prática esportiva, auxilia na prevenção de lesões, auxilia na recuperação muscular, auxilia nos cuidados pré e pós-cirúrgicos, estimula o peristaltismo intestinal, reequilibra o nível energético, aumenta a liberação de endorfinas, serotonina e ocitocina, auxilia no controle dos sintomas do estresse e da ansiedade, e contribui para o equilíbrio emocional. </p>
						<p>Os vários estilos dessa antiga terapia são capazes de promover benefícios físicos, fisiológicos, energéticos e emocionais para a saúde e qualidade de vida. </p>

					</h6>

					<h4><p>A massoterapia e suas técnicas integrativas pode atuar em diversas patologias e condições de saúde, tais como:</p></h4>

					<div style="font-weight: bolder; font-size: 120%;">
						<accordion [isAnimated]="true" class=" transparent_class text-body" >
							<accordion-group heading="" [isOpen]="isMassoterapiaCollapsed">
								<div accordion-heading style="color: green; font-size: 130%;">A massoterapia lida com:</div>
								<ul class="list-group  list-group-horizontal" style="color: black;">
									<li class="list-group-item" *ngFor="let Massoterapiaitem of MassoterapiaList; index as i; first as isFirst">{{Massoterapiaitem}}</li>
								</ul>
							</accordion-group>
							<accordion-group heading=""  [isOpen]="isMassoterapiaCollapsed">
								<div accordion-heading style="color: green; font-size: 130%;">Contra-indicações:</div>
								<div class="d-flex flex-wrap bg-light font-italic font-weight-bold" >
									<div class="p-2 border rounded-lg border-top-0 border-right-0 border-left-0 border-bottom-3 border-success mx-2" *ngFor="let Massoterapiaitem of MassoterapiaList; index as i; first as isFirst">
										<span class="shadow badge badge-pill badge-success" style="font-weight: bolder; font-size: 100%;">
											{{Massoterapiaitem}}
										</span>

									</div>
								</div>
							</accordion-group>
						</accordion>
					</div>
				  </div>



			<div class="secaoAzul">jj</div>

			<div id="terapias_spied" #terapias_spied></div>
			<div style="background-color: azure; background-image: url(assets/images/background/massage-therapy-performance.jpg); background-repeat:no-repeat; background-position: center; ">
				<angular-tag-cloud [config]="options" [data]="data"  [randomizeAngle]="true"  [zoomOnHover]="zoomOnHoverOptions" (clicked)="logClicked($event)" [strict]="true"></angular-tag-cloud>
			</div>


			{{currentTerapia}}

			<div class="col-sm-12 col-12" *ngIf= "currentTerapia.length > 0 ">
				<div class="conteinerTerapia "  >

					<h1 style="text-align: center;"> {{currentTerapia}} </h1>

						<div class="col">
							<div class="circle" data-aos="fade-up"></div>
							<h2 class="text" data-aos="flip-left" data-aos-delay="300">Alívio de dores</h2>
						</div>
						<div class="col">
							<div class="circle" data-aos="fade-up"></div>
							<h2 class="text" data-aos="flip-left" data-aos-delay="300">Melhora da circulação sanguínea e linfática</h2>
						</div>
						<div class="col">
							<div class="circle" data-aos="fade-up"></div>
							<h2 class="text" data-aos="flip-left" data-aos-delay="300">Melhora da nutrição dos tecidos</h2>
						</div>
						<div class="col">
							<div class="circle" data-aos="fade-up"></div>
							<h2 class="text" data-aos="flip-left" data-aos-delay="300">Melhora do movimento articular</h2>
						</div>




				</div>

				<div >
					<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
							[attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">mostrar detalhes
					</button>
					<hr>
					<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
					<div class="well well-lg card card-block card-header">
						<p> A massagem relaxante promove, como o próprio nome já diz, um relaxamento muscular e geral do organismo. </p>
						<p>Através de manobras de deslizamento, pressão, fricção, amassamento e percussão, o massoterapeuta consegue atuar sobre vários sistemas, trazer inúmeras melhorias e benefícios; veja a lista abaixo.</p>
						<p> O massoterapeuta pode integrar técnicas que poderão colaborar no auxílio do relaxamento muscular e geral do organismo, sempre em concordância com as necessidades e preferências da cliente. </p>
						<p>Veja algumas dessas técnicas na lista abaixo.</p>
						<p>Mas acima de tudo, a massagem relaxante proporciona, através do toque, acolhimento, atenção, respeito e cuidado, sendo uma poderosa aliada na busca por uma vida mais saudável e feliz.</p>

					</div>
					</div>
				</div>

		   </div>


			<!--
			<div  style="float: inline-start; height: 600px;">
				<div appParallax [ratio]="0.08" [BackGround]="true" [BackGroundImageHeigth]=000 class="px-5 text-center parallaxPadrao parallaxleft">
					<h1>terapias</h1>
				</div>
				<div  appParallax [ratio]="-0.1" [BackGround]="true"  [BackGroundVerticalPosition]=100  [BackGroundImageHeigth]=000 class="px-5 text-center parallaxPadrao parallaxRight">
					<h1>terapias</h1>
				</div>
			</div>
			-->

			<br>

			<!--<div class="item1" data-aos="fade-up" data-aos-duration="3000">1</div>


			<br><br><br><br>

			<div class="card" style="width:400px" data-aos="zoom-in" data-aos-duration="3000">
				<img class="card-img-top" src="assets/images/card/brasil.jpg" alt="Card image" >

				<div class="card-body">
				<h4 class="card-title">John Doe</h4>
				<p class="card-text">Some example text.</p>
				<a href="#" class="btn btn-primary">See Profile</a>
				</div>
			</div>
			<br><br>
		-->


			<div id="section32" > </div>

			<div class="secaoAzul">jj</div>

			<div id="terapeuta_spied" #terapeuta_spied></div>
			<div appParallax [ratio]="-.2"  [BackGround]="true"  class="px-5 text-center parallaxTeste">
				<div class="parallaxOil" appParallax [ratio]="0.1" [BackGround]="true" [BackGroundVerticalPosition]=100 [BackGroundImageHeigth]=550>
					<div class="parallaxOil" appParallax [ratio]="-0.45" [BackGround]="true" [BackGroundVerticalPosition]=80 [BackGroundImageHeigth]=250>
						<div class="parallaxText">




							<br><br><br>

							<br><br><br>
							<br><br><br>
							<div style="text-align: right"><img src="assets/images/background/pedra.png" appParallax [ratio]="0.70"  [BackGround]="false" style=" position: fixed; float: right; width: 250px;height: 250px;;"  /></div>
							<br><br><br>
							<h1 > terapeuta </h1>
							<br><br><br>

							<h2 >
							bem estar fisico e mental beneficios
							</h2>
							<br><br><br>
							<h3 >
								bem estar fisico e mental beneficios
								</h3>




						</div>
					</div>
				</div>
			</div>

			<div class="secaoAzul">jj</div>

			<div id="localizacao_spied" #localizacao_spied></div>
			<div id="section42" > </div>

			<h1 > localizacao </h1>
			<div class="item1" data-aos="fade-up" data-aos-duration="3000">1</div>
			<div class="item1" data-aos="fade-left" data-aos-duration="3000">1</div>
		</div>
	</div>
</div>


